body{
  background-image: url("double_pendulum.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-col {
  height: 80%;
    background-color: dimgray;
      padding-left: 10px;
        box-sizing: border-box;
}
